
<h1>Post a Song</h1>
<hr/>


<form method="post" .form-horizontal action="/music">
<div class="form-group">
  <!-- <label class="col-md-4 control-label" for="textinput">Title:</label>   -->
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Song Title" class="form-control input-md">
  </div>
</div>
<div class="form-group">
  <!-- <label class="col-md-4 control-label" for="textinput">Title:</label>   -->
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Song Author" class="form-control input-md">
  </div>
</div>
<div class="form-group">
  <!-- <label class="col-md-4 control-label" for="textinput">Title:</label>   -->
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="URL Link" class="form-control input-md">
  </div>
</div>
<div class="col-md-4">
    <input class="custom_button" type="submit" value="Submit">
    </div>
  </div>
</form>